{% extends 'homepage/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<label ><b>Welcome {{ user.username }}</b></label>
<form method="post" action="{% url 'logout_view' %}">
  {% csrf_token %}
<button type="submit">Logout</button>
</form>
{% else %}
<form method="post" action="{% url 'check' %}">
    {% csrf_token %}
  <div class="container">
    <label ><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="user" name="user" required>

    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="pass" name="pass" required>

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw">No Account Yet?<a href="{% url 'signup' %}">Create an account</a></span>
  </div>
</form>
{% endif %}
{% endblock content %}